@import 'reset';
@import 'variables/global';
@import 'themes/dark';
@import 'themes/normal';
@import 'themes/mono';

.app {
  min-height: 100vh;
  background: var(--bg-color);
}

.app,
.app_modal {
  font: var(--font-m);
  color: var(--primary-color);
}

.content-page {
  display: flex;
}
