.sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--inverted-bg-color);
  position: relative;
  transition: width 300ms;
}

.switchers {
  position: absolute;
  bottom: 20px;
  left: 16px;
  right: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: center;
  transition: 1000ms;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.collapseBtn {
  position: absolute;
  right: -32px;
  bottom: 40px;
  z-index: 200;
}

.links {
  margin: 20px 0 0;
}
