.tile {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 32px;
}

.list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  .card {
    display: inline-flex;
  }
}

.notFoundArticles {
  margin-top: 30px;
}

.cardTile {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 32px;
}

.BIG {
  .card {
    margin-bottom: 30px;
  }
}

.SMALL {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;

  .card {
    display: inline-flex;
    height: 300px;
  }

  .row {
    display: flex;
    gap: 30px;
  }
}
