.applink {
  color: var(--text-redesigned);


}

.primary {
  color: var(--text-redesigned);

  &:hover {
    color: var(--accent-redesigned);
  }
}

//.secondary {
//  color: var(--inverted-primary-color);
//
//  &:hover {
//    color: var(--accent-redesigned);
//  }
//}

.red {
  color: var(--cancel-redesigned);

  &:hover {
    opacity: 0.8;
  }
}
