.app_mono_theme {
  --bg-color: #ce0ff4;
  --inverted-bg-color: #3C0AD1;
  --primary-color: #FAF4FB;
  --secondary-color: #FAF4FB;
  --inverted-primary-color: #ce0ff4;
  --inverted-secondary-color: #ce0ff4;
}