.app_mono_theme {
  --bg-color: #ce0ff4;
  --inverted-bg-color: #3C0AD1;
  --primary-color: #FAF4FB;
  --secondary-color: #FAF4FB;
  --inverted-primary-color: #ce0ff4;
  --inverted-secondary-color: #ce0ff4;
  // skeleton
  --skeleton-color: #fff;
  --skeleton-shadow: rgba(0 0 0 / 20%);
  // code
  --code-bg: #fff;
  // card article
  --card-bg: #05a5b6;
  // listbox
  --listbox-bg: #05a5b6;

  // redesigned
  --dark-bg-redesigned: #FFF3D6;
  --bg-redesigned: #F0C048;
  --light-bg-redesigned: #F2D791;
  --text-redesigned: #1B1311;
  --hint-redesigned: #B8B2A2;
  --cancel-redesigned: #FF5E5E;
  --save-redesigned: #52FA81;
  --icon-redesigned: #4875F0;
  --accent-redesigned: #1D59FF;
}
