.navbar {
  width: 100%;
  height: var(--navbar-height);
  background: var(--inverted-bg-color);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 20px;
}

.authButton {
  margin-left: auto;
}

.appName {
  width: calc(var(--sidebar-width) - 35px);
  margin-left: 15px;
}

.dropdown {
  margin-left: auto;
}